<!DOCTYPE HTML>

<html>
	<head>
		<title>Restaurant Planner Homepage</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../static/assets/assets_homepage/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body class="loading">
		<div id="wrapper">
			<div id="bg"></div>
			<div id="overlay"></div>
			<div id="main">

				<!-- Header -->
					<header id="header">
						<a href="#" class="image fit"><img src="../static/images/logo5.png " style="width: 120px;height: 120px" alt="" /></a>




						<h1>Cooked to Location</h1>
						<p>Wise Restaurant Investor &nbsp;&bull;&nbsp; Locate Your Success &nbsp;&bull;&nbsp; Easy to Use</p>
						<nav>
							<ul>
								<li><a href="homepage" class="icon fa-home">Home</a></li>
								<li><a href="location" class="icon fa-location-arrow">Location</a></li>
								<li><a href="cuisine" class="icon fa-cutlery">Cuisine</a></li>
								<li><a href="rating" class="icon fa-star">Rating</a></li>
								<li><a href="contact" class="icon fa-envelope-o">Contact</a></li>
							</ul>
						</nav>
					</header>

				<!-- Footer -->
					<footer id="footer">
						<span class="copyright">&copy; Big Data Analytics.  Design: Jiayi Wang, Chenlu Ji, Sam Park. <a href="http://html5up.net">Github Link</a>.</span>
					</footer>

			</div>
		</div>
		<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
		<script>
			window.onload = function() { document.body.className = ''; }
			window.ontouchmove = function() { return false; }
			window.onorientationchange = function() { document.body.scrollTop = 0; }
		</script>
	</body>
</html>